.card{
    border: 1px solid hsla(269, 90%, 26%, 0.702);
    border-radius: 4px;
    box-shadow: 4px 4px 4px #29045040;
    padding: 2.5rem 5rem 2.2rem 5rem;
    margin-top: 3rem;
    background-color: white;
    display: inline-block;
    width: 40vw;
    max-width: 65vw;
}
.author{
    font-style: italic;
    font-size: 1.4rem;
    padding-top: 1rem;
    text-align: end;
}
.content{
    line-height: 2.5rem;;
}